<!DOCTYPE html>
<html>
<head>
    <title>Query Result</title>
</head>
<body>
    <h1>Query Result</h1>
    <p>Query: {{ user_query }}</p>
    <table>
        <thead>
            {% for key in data[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for value in row.values() %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
